body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    justify-content: right;
}

#aestheticIcon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.top-bar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    text-align: center;
    padding: 10px;
}

.top-bar a:hover {
    text-decoration: underline;
}

.topbarButtons{
    width: 20%; 
    display: flex;
    justify-content: right;
}

.topbarButtons button{
    width: 33%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    justify-self: right;
    margin-left: 5px;
    margin-right: 5px;
}

#extraSpaceTopbar1 {
    width: 3%;
}

#extraSpaceTopbar2 {
    width: 50%;
}

.content {
    padding: 60px 20px;
}

.content h1 {
    margin-top: 20px;
}

section {
    margin-left: 3%;
    border: solid black;
    height: 50vw;
    width: 90vw;
}